*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f3f4f6;
}

.container{
    display:flex;
}

/* Sidebar */

.sidebar{
    width:250px;
    background:#1f2937;
    color:white;
    min-height:100vh;
    padding:20px;
}

.sidebar h2{
    text-align:center;
    margin-bottom:30px;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    padding:15px;
    margin-bottom:10px;
    cursor:pointer;
    border-radius:8px;
    transition:.3s;
}

.sidebar li:hover,
.active{
    background:#2563eb;
}

/* Main */

main{
    flex:1;
    padding:30px;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.profile{
    display:flex;
    align-items:center;
    gap:10px;
}

.profile img{
    width:45px;
    border-radius:50%;
}

/* Cards */

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card{
    padding:25px;
    color:white;
    border-radius:12px;
}

.blue{
    background:#2563eb;
}

.green{
    background:#16a34a;
}

.orange{
    background:#f59e0b;
}

.red{
    background:#dc2626;
}

.card h1{
    margin-top:15px;
    font-size:35px;
}

/* Search */

.search-box{
    margin:30px 0;
}

.search-box input{
    width:100%;
    padding:12px;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:16px;
}

/* Table */

.table-section{
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#2563eb;
    color:white;
    padding:15px;
}

td{
    padding:15px;
    border-bottom:1px solid #ddd;
}

tr:hover{
    background:#f9fafb;
}

.status{
    padding:6px 15px;
    border-radius:20px;
    color:white;
    font-size:14px;
}

.active{
    background:#16a34a;
}

.inactive{
    background:#dc2626;
}

/* Responsive */

@media(max-width:900px){

.container{
    flex-direction:column;
}

.sidebar{
    width:100%;
    min-height:auto;
}

header{
    flex-direction:column;
    gap:20px;
}

}